<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Form Data</title>
    <style>
        .data {
            height: 500px;
            width: 800px;
            border: 2px solid black;
        } 
    </style>
</head>
<body>
    <div class="container">
        <div class="data">
            <h1>First Name : {{ fname }}</h1>
            <h1>Last Name : {{ lname }}</h1>
            <h1>User Name : {{ uname }}</h1>
            <h1>Email : {{ email }}</h1>
        </div>
    </div>
</body>
</html>